<% include partials/header %>
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
        <p>
            <span class="text-muted"><i class="fas fa-thumbtack"></i> Home / Category / </span> ProductName
        </p>
        <div class=" row ">
            <div class="col-md-8 ">
                <div class="card mb-3 ">
                    <img class="card-img-top " src="https://images.unsplash.com/photo-1532109676976-49323426ef1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccea5896e15e3cd034cdf6baaaef7b21&auto=format&fit=crop&w=3300&q=80 " alt="Card image cap ">
                    <div class="card-body ">
                        <h5 class="card-title ">Product Name</h5>
                        <p class="card-text ">Desc of the product Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste sequi praesentium temporibus atque, excepturi beatae laudantium provident optio repellat autem quibusdam cumque dolores, esse ab corrupti nulla
                            laborum qui modi!</p>
                        <p class="card-text "><small class="text-muted ">Posted by fNameHere on dateHere</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card " style="width: 18rem; ">
                    <div class="card-header ">
                        <strong>General Information</strong>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item ">Category <span style="float:right">No Category</span></li>
                        <li class="list-group-item ">Price <span style="float:right">300 Kuna</span></li>
                        <li class="list-group-item ">Availability <span style="float:right">In Stock</span></li>
                    </ul>
                </div>
                <div class="buttons-product">
                    <a class="btn btn-warning">Buy</a>
                    <a class="btn btn-info">More info</a>
                    <a class="btn btn-primary">Go Back</a>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>